<% layout('/layout/boilerplate')  -%>
<div class="row align-middle" style="margin-top: 15rem; margin-bottom: 17.2rem;">
    <div class="alert alert-warning" role="succes" >
       <div class="center" style="margin-left: 40%;"> You have logged in successfully.</div>
    </div>
</div>