<% layout('/layout/boilerplate')  -%>
<div class="row align-middle" style="margin-top: 15rem;">
    <div class="alert alert-danger d-flex align-items-center" role="alert" style="margin-top: 1rem; margin-bottom: 17.2rem;">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div style="margin-left: 40%;">
        Login failed. Try again
        </div>
      </div>
</div>