<nav class="navbar navbar-expand-md navbar-light   sticky-top  ">
    <div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav addColor" >
          <a class="nav-link "  href="/" class="col-md-4" >HOME</a>
          <a class="nav-link" href="/listing" class="col-md-4">AUTHENTICATION</a>
          <a class="nav-link" href="/listing/new" class="col-md-4">SEE MORE</a>
        </div>
      </div>
   </div>
</nav>